@import "@radix-ui/colors/gray-dark.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: rgba(255, 255, 255, 0.88);
  --title: white;
  --bg: rgb(26, 27, 38);
  --code-bg: #1a1b26;
  --link: #7aa2f7;
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --green: lab(76 -56 15);
  --purple: lab(54 -16 -30);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --green: lab(76 -56 15);
  --purple: lab(54 -16 -30);
}
@property --myColor1 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@media (prefers-color-scheme: dark) {
  @property --myColor1 {
    syntax: "<color>";
    initial-value: rgba(255, 255, 255, 0.88);
    inherits: false;
  }
  @property --myColor2 {
    syntax: "<color>";
    initial-value: rgba(255, 255, 255, 0.88);
    inherits: false;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

code {
  font-family: "IBM Plex Mono", mono;
}

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  :root {
    --base-1: 240 20% 99.01960784313727%;
    --base-2: 240 19.999999999999943% 98.0392156862745%;
    --base-3: 240 11.111111111111065% 94.70588235294117%;
    --base-4: 240 9.52380952380956% 91.76470588235294%;
    --base-5: 230.00000000000003 10.714285714285722% 89.01960784313725%;
    --base-6: 240 10.144927536231888% 86.47058823529412%;
    --base-7: 233.33333333333337 9.89010989010989% 82.15686274509804%;
    --base-8: 230.7692307692308 10.23622047244095% 75.09803921568627%;
    --base-9: 230.76923076923066 5.936073059360735% 57.05882352941176%;
    --base-10: 226.1538461538462 5.394190871369299% 52.74509803921569%;
    --base-11: 220 5.88235294117647% 40%;
    --base-12: 210 12.5% 12.549019607843137%;
    --accent-1: 0 0% 0%;
    --accent-2: 0 0% 0%;
    --accent-3: 0 0% 0%;
    --accent-4: 0 0% 0%;
    --accent-5: 0 0% 0%;
    --accent-6: 0 0% 0%;
    --accent-7: 0 0% 0%;
    --accent-8: 0 0% 0%;
    --accent-9: 0 0% 0%;
    --accent-10: 0 0% 0%;
    --accent-11: 0 0% 0%;
    --accent-12: 0 0% 0%;
    --background: 240 20% 99.01960784313727%;
    --foreground: 210 12.5% 12.549019607843137%;
    --card: 240 19.999999999999943% 98.0392156862745%;
    --card-foreground: 210 12.5% 12.549019607843137%;
    --popover: 240 20% 99.01960784313727%;
    --popover-foreground: 210 12.5% 12.549019607843137%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 220 5.88235294117647% 40%;
    --muted: 240 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 220 5.88235294117647% 40%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155%
      24.11764705882353%;
    --border: 240 10.144927536231888% 86.47058823529412%;
    --input: 240 10.144927536231888% 86.47058823529412%;
    --ring: 240 10.144927536231888% 86.47058823529412%;
    --radius: 0.5rem;
  }
  .dark {
    --base-1: 240 5.555555555555555% 7.0588235294117645%;
    --base-2: 220 5.88235294117647% 10%;
    --base-3: 225.00000000000006 5.7142857142857135% 13.725490196078432%;
    --base-4: 210.00000000000003 7.1428571428571415% 16.47058823529412%;
    --base-5: 214.28571428571428 7.0707070707070745% 19.411764705882355%;
    --base-6: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --base-7: 212.72727272727275 7.586206896551727% 28.431372549019606%;
    --base-8: 212.00000000000003 7.692307692307687% 38.23529411764706%;
    --base-9: 218.57142857142856 6.250000000000003% 43.92156862745098%;
    --base-10: 221.53846153846155 5.1792828685259% 49.21568627450981%;
    --base-11: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --base-12: 220 9.09090909090906% 93.52941176470588%;
    --accent-1: 0 0% 0%;
    --accent-2: 0 0% 0%;
    --accent-3: 0 0% 0%;
    --accent-4: 0 0% 0%;
    --accent-5: 0 0% 0%;
    --accent-6: 0 0% 100%;
    --accent-7: 0 0% 0%;
    --accent-8: 0 0% 0%;
    --accent-9: 0 0% 100%;
    --accent-10: 0 0% 100%;
    --accent-11: 0 0% 100%;
    --accent-12: 0 0% 100%;
    --background: 240 5.555555555555555% 7.0588235294117645%;
    --foreground: 220 9.09090909090906% 93.52941176470588%;
    --card: 220 5.88235294117647% 10%;
    --card-foreground: 220 9.09090909090906% 93.52941176470588%;
    --popover: 240 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 220 9.09090909090906% 93.52941176470588%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 5.88235294117647% 10%;
    --secondary-foreground: 215.9999999999999 6.756756756756753%
      70.98039215686273%;
    --muted: 220 5.88235294117647% 10%;
    --muted-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --input: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --ring: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
