---
import Layout from "../layouts/page-layout.astro";
import Link from "../components/link.astro";
import PostTitle from "../components/post-title.astro";
import type { Frontmatter } from "./types";
import "@/styles/globals.css";
const posts = await Astro.glob<Frontmatter>("../content/posts/**/*.mdx");
posts.sort((a, b) => {
  return Date.parse(a.frontmatter.date) < Date.parse(b.frontmatter.date)
    ? 1
    : -1;
});
---

<Layout mainPage>
  <div class="relative top-[20px] flex flex-col gap-8">
    {
      posts
        .filter((post) => !post.frontmatter.group)
        .map((item) => {
          return (
            <Link
              classList={[
                "block scale-100 py-4 hover:scale-[1.005] active:scale-100 hover:bg-gray-5 px-4 rounded-md sm:py-3",
              ]}
              target="_self"
              href={"/" + item.frontmatter.href + "/"}
            >
              <article>
                <PostTitle
                  title={item.frontmatter.title}
                  date={item.frontmatter.date}
                />
                <p class="mt-1">{item.frontmatter.spoiler}</p>
              </article>
            </Link>
          );
        })
    }
  </div>
</Layout>
