---
import Link from "./link.astro";
import { Icon } from "astro-icon/components";
---

<footer
  class="mb-14 flex flex-row w-full items-end justify-between space-x-4 pt-8 text-lg"
>
  <div class="self-end text-white/45 text-sm font-['Montserrat']">
    Shaked Hagag © 2024
  </div>
  <div class="flex justify-end">
    <Link
      classList={["scale-100 active:scale-100"]}
      href="https://github.com/shakedhagag"
    >
      <Icon name="github" size={30} />
    </Link>

    <Link
      classList={["scale-100 active:scale-100"]}
      href="https://twitter.com/ShakedHagag"
    >
      <Icon name="x" size={30} />
    </Link>
  </div>
</footer>
