---
import "@fontsource/montserrat/900.css";

interface Props {
  title: string;
  date: string;
}

const { title } = Astro.props;
---

<h2 class={`text-[28px] font-black text-gray-12`}>
  {title}
</h2>
