---
import "@fontsource/montserrat/900.css";

interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;

const today = new Date();
const timeSinceFirstPost = today.valueOf() - new Date(2018, 10, 30).valueOf();
const timeSinceThisPost = today.valueOf() - new Date(date).valueOf();
const staleness = timeSinceThisPost / timeSinceFirstPost;

let darkLinkColor = staleness > 0.5 ? "text-[#083344]" : "text-[#A5F3FC]";
---

<h2 class={`text-[28px] font-black ${darkLinkColor} font-['Montserrat']`}>
  {title}
</h2>
