---
import "@/styles/globals.css";
import "@fontsource/merriweather";
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
import Footer from "@/components/Footer.astro";
import "@fontsource-variable/inter";
import "@fontsource/ibm-plex-mono";

interface Props {
  frontmatter?: {
    title: string;
    spoiler: string;
  };
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/githubavatar.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter?.title || "shagag"}</title>
    <meta property="og:title" content={frontmatter?.title || "shagag"} />
    <meta property="og:type" content={frontmatter ? "article" : "website"} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="https://shagag.dev/og-image.jpg" />
    <meta
      property="og:description"
      content={frontmatter?.spoiler || "shagag's personal blog"}
    />
    <meta
      name="description"
      content={frontmatter?.spoiler || "shagag's personal blog"}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={frontmatter?.title || "shagag"} />
    <meta
      name="twitter:description"
      content={frontmatter?.spoiler || "shagag's personal blog"}
    />
    <meta name="twitter:image" content="https://shagag.dev/og-image.jpg" />
    <ClientRouter />
    <LoadingIndicator color="#7e22ce" />
  </head>
  <body class="mx-auto max-w-2xl bg-gray-1 px-5 py-12 text-[--text]">
    <slot />
    <Footer />
  </body>
</html>
